[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
torch = "*"
torchvision = "*"
flet = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
